
<header>
    <div class="mesLogo">
      <img class="logoPoste" src="../../assets/image/unnamed.png" alt="cou">
      <img class="logo" src="../../assets/image/logoEntity.png" alt="">
    </div>
</header>

<mat-toolbar color="primary" [class.sticky]="sticky" #stickyMenu >
  <mat-toolbar-row>
    <a mat-button routerLink="/accueil" routerLinkActive="active">accueil </a>
    <a mat-button routerLink="/accueil" routerLinkActive="active">recherche</a>
    <a mat-button routerLink="/creation" routerLinkActive="active">création</a>
    <a mat-button>à propos</a>
    <span class="example-spacer"></span>
    <a mat-button>connexion</a>
  </mat-toolbar-row>
</mat-toolbar>


