<h1>A propos d'Entity</h1>

<div>
<p>
  Entity est une application qui permet de gérer les entités du groupe La Poste.<br>
  La consultation de l’ensemble des informations des entités est en accès libre.<br>
  Le maintien des entités est réservé à deux profils spécifiques qui permet de créer, modifier, désactiver ou supprimer les entités.<br>

  Une entité représente le lieu d’exercice des activités du Groupe La Poste :<br></p>
  <ul>
  <li>disposant d’un code unique</li>
  <li>définie par des propriétés</li>
  <li>intégrée dans une hiérarchie</li>
</ul>
  <p>
<br>
  L’application entity est inspirée d’une application Postale interne REGATE, c’est le référentiel des entités de La Poste, chaque entité est identifiée par son code REGATE.<br>
  REGATE centralise les données des SI référentiels des métiers tout en garantissant l’unicité de la codification des entités.<br>
  REGATE permet de référencer et de tenir à jour la description des entités de La Poste puis de fournir ces informations aux différentes applications de La Poste.
</p>
</div>
