
p {
  margin: 0.875em 1.2em;
  font-size: 1.1em;
  color: #212121;
}

h1 {
  font-size: 1.75em;
  text-align: center;
  margin: 4.5em auto;
  color: #10247d;
}

ul {
  padding-left: 0;
  list-style: none;
}
span {
  display: inline-flex;
}

a {
  cursor: pointer;
}
a:hover {
  color: #10247d;
  text-decoration: underline #10247d;
}

.adresse {
  width: 45%;
}

.historique {
  width: 93%;
  clear: both;
}

.libelle {
  width: 45%;
  clear: both;
}

#spécialP {
  margin-bottom: 0;
}

#divBouton {
  clear: both;
  float: left;
  width: 93%;
  margin: 3%;
}
.button {
  float: right;
  margin-left: 1em;
  margin-top: 1em;
}


@media only screen and (max-width: 750px) {
  .adresse {width: 96%}
  .historique {width: 96%}
  .libelle {width: 96%}
}
