h1 {
  text-align: center;
  color: #10247d;
  margin-top: 4em;
  font-size: 1.75em;
}

form {
  margin: 5% 30% 5% 30%;
}

#libelle, .voie {
  width: 100%;
}

#entite-mere, .cp  {
  width: 30%;
}

.cp {
  margin-right: 20%;
}

.ville, #site, #activite, .compt, .rh, #metier {
  width: 50%;
}

.bool {
  padding-right: 1em;
  color: #212121 ;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.mat-radio-label-content {
  color: #212121;
}

.mat-raised-button {
  margin: 1.2em 1em;
}

.rh {
  clear: both;
  margin: 1% 0;
  float: left;
}

.compt {
  margin: 1% 0;
  float: right;
}


@media only screen and (max-width: 1200px) {
  form {margin: 5% 10% 5% 10%;}
}

@media only screen and (max-width: 750px) {
  form {margin: 5% 5% 5% 5%;}
  #entite-mere, .cp, .ville, #site, #activite, .compt, .rh, #metier {width: 100%;}
  .cp { margin-right: 0}
}
