.connexion {
  width: 25%;
}

button {
  width: 100%;
}

.form-login {
  width: 100%;
}

h1 {
  color: #10247d;
  text-align: center;
}

.mat-card {
  margin: 10% 38% 20% 38%;
}

@media only screen and (max-width: 950px) {

  .mat-card{margin: 25% 2% 50% 2%;}

  .connexion{width: 90%}
}
